<%= render "layouts/infos" %>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Roney", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <span>
          <strong>Balance: </strong>
          <%= @balance %>
        </span>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-lg-3">
    <h4>Did you spent money?</h4>

    <%= form_for @expense, url: expenses_path do |f|%>
      <div class="row">
        <div class="col-sm-6">
          <%= f.number_field :value, class: "form-control",
           placeholder: "how much?" %>
        </div>
        <div class="col-md-2">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-8">
    <h1>Your expenses</h1>
    <% @expenses.each do |expense| %>
      <div class="panel panel-default">
        <div class="panel-body panel-expense">
          <%= form_for expense, url: edit_expense_path(expense.id) do |f| %>
            <div class="col-sm-2">
              <%= time_ago_in_words(expense.updated_at) %>
            </div>
            <div class="col-sm-3">
              <%= f.number_field :value, class: "form-control" %>
            </div>
            <div class="col-sm-5">
              <%= f.text_field :description, class: "form-control",
                placeholder: "Add a description..." %>  
            </div>
            <div class="col-sm-1">
              <%= button_tag type: "submit", class: "btn btn-default" do %>
                <%= fa_icon "refresh" %>
              <% end %>
            </div>
            <div class="col-sm-1">
              <%= link_to destroy_expense_path(expense.id), 
                method: :delete, class: "btn btn-default" do %>
                <%= fa_icon "trash" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>