<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>

<div class="container">
  <div class="col-lg-6">
    <h1>Register your expenses</h1>

    <%= form_for @expense, url: expenses_path do |f|%>
      <%= f.number_field :value  %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <h1>Your expenses</h1>
    <% @expenses.each do |expense| %>
      <div class="panel panel-default">
        <div class="panel-body panel-expense">
          <%= form_for expense, url: edit_expense_path(expense.id) do |f| %>
            <div class="col-sm-4">            
              <%= f.number_field :value, class: "form-control"%>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :description, class: "form-control" %>  
            </div>
            <div class="col-sm-4">
              <%= button_tag type: "submit", class: "btn btn-default" do %>
                <%= fa_icon "refresh" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="pull-right">
      <p><strong>Balance: </strong>
        <%= @expenses.map{ |e| e.value }.reduce(:-) %></p>
    </div>
  </div>
</div>