<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>

<div class="container">
  <div class="col-lg-6">
    <h1>Register your expenses</h1>

    <%= form_for @expense, url: expenses_path do |f|%>
      <%= f.number_field :value  %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <h1>Your imcomplete expenses</h1>
    <% @expenses.each do |expense| %>
      <div>
        <%= expense.value %>
      </div>
    <% end %>
  </div>
</div>