<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>

<h1>Register your expenses</h1>

<%= form_tag :expenses do %>
  <%= number_field_tag :price  %>
  <%= submit_tag %>
<% end %>